<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="this.sideNav.open()"  *ngIf="!sideNav?.opened">menu</mat-icon>
    <mat-icon (click)="this.sideNav.close()" *ngIf="sideNav?.opened">close</mat-icon>
</button>
  <span class="px-3">NYI News</span>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
      <img class="avatar mat-elavation-z8" src="" alt="">
      <mat-divider></mat-divider>
      <button mat-button class="menu-button">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
  </button>
  </mat-sidenav>
  <mat-sidenav-content class="content mat-elevation-z4">
      <section class="text-gray-600 bg-gray-100 body-font">
          <div class="container px-5  mx-auto max-w-7x1">
              <div class="flex flex-wrap w-full mb-4 p-4">
                  <div class="w-full mb-6 lg:mb-0">
                      <div class="h-1 w-60 bg-indigo-500 rounded"></div>
                  </div>
              </div>
              
          </div>
      </section>
  </mat-sidenav-content>
</mat-sidenav-container>